<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Investica Compound Interest Chart</title>
  <link rel="stylesheet" href="investica.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h2>Compound Interest Chart</h2>
    <div id="chart"></div>
    <form> 
    Monthly Addition: <input type="text" id="monthly"><br>
    Initial Deposit: <input type="text" id="init"><br>
    Years Invested: <input type="text" id="years"><br>
    <input type="button" value="Update" id="updateButton"/><br>
    </form>
  </div>
  <script src="d3.min.js"></script>
  <script src="chartscript.js"></script>
</body>
</html>