<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">
	<link rel="icon" type="image/png" href="http://localhost:3000/images/logo.png" />

</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="/images/logo.png" height="130" width="130">
			<h1 id="title"> Investica </h1>
		<div>
		
		<div id="content">
			<div id="nav">
			   <ul>
				  <li><a href="/" class="active">Home</a></li>
				  <li><a href="lessons">Lessons</a></li>
				  <li><a href="quizzes">Quizzes</a></li>
				  <li><a href="simulation">Simulation</a></li>
				  <li><a href="guide">Investment Guide</a></li>
			   </ul>
			</div>
            <form id="chart">
                What is your age?
                <input type="number" name="start"></br>
                How much money are you initially willing to invest?
                <input type="number" name="init"></br>
                How much money are you willing to invest per month?
                <input type="number" name="monthly"></br>
                At what age would you like to start drawing from your account?
                <input type="number" name="end"></br>
                
                <input type="number" name="end"><br>
                
                <button type="submit">Find me some options!</button>

            </form>
		</div>
	<div>
    <footer align="center">
        <p>
            Copyright &copy; 2014 by Team Investica
        </p>
    </footer>

</body>