<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">
       <link rel="icon" type="image/png" href="http://localhost:3000/images/logo.png" />

</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="/images/logo.png" height="130" width="130">
			<h1 id="title"> Investica </h1>
		<div>
		
		<div id="content">
			<div id="nav">
			   <ul>
				  <li><a href="/" class="active">Home</a></li>
				  <li><a href="guide">Investment Guide</a></li>
				  <li><a href="lessons">Lessons</a></li>
				  <li><a href="simulation">Simulation</a></li>
				  <li><a href="quizzes">Quizzes</a></li>
			   </ul>
			</div>
				<div id="chartDiv">
				</div>
				<div id="homeInfo">
					</br>
					<p>
						Early adulthood can be tough - we've all been there. One of the toughest things to figure out about being an adult is the finance side: what should I be doing with my money, now that I have an income?
					</p>
					</br>
					<p>
						Here at Team Investica, we aim to answer this big, often ugly question. We're here to give you all of the resources you need to make correct, responsible investing choices.
					</p>
					
 
				</div>
		</div>
	</div>
    <footer align="center">
        <p>
            Copyright &copy; 2014 by Team Investica
        </p>
    </footer>

	<script src="d3.min.js"></script>
	<script src="chartscript2.js"></script>

</body>