<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Clayton Kucera - Home</title>
    <link rel="stylesheet" type="text/css" href="mainclayton.css"/>
</head>
<body>

    <!-- setup the navigation bar -->
    <div id="container">
        <nav id="top-menu" align="center">
            <ul>
                <li> <a href="home.html">Home</a> </li>
                <li> <a href="work.html">My Work</a> </li>
                <li> <a href="">Contact</a> </li>
            </ul>
        </nav>

        <h1 style="text-shadow:-1px 0 0 rgba(0, 0, 0, 0.5); font-size:100px;" align="center">
        Clayton Kucera
        </h1>


    </div>
    <div id="container">
        <img id="me" src="images/testpicture.jpg" width="240" height="271"
        alt = "Picture of me" />
    </div>
    <div id="container">
        <h2>
        You have reached the website of Clayton Kucera
        </h2>
        <p>
        Hello, I am Clayton Kucera, a computer science student at the Georgia Institute of Technology. I have created this website to showcase my interests and qualifications and to provide access to some of the work I have done.
        </p>
        <p>
        If you are here to browse my qualifications as a potential employee, allow me to direct you to the Qualifications Page or link you to my resume.
        </p>
    </div>
    <div id="container"style="clear:left;">
        <p>
        If you are here seeking entry into the Clayton Kucera Fan Club, you must email the <a href = "mailto:claytonkucera@gmail.com">president<a/> to do so; I have no control over the workings of this club and cannot help you in that regard.
        </p>
        <p style="text-align:center">
        Whatever it is you came here for, have a great day.
        </p>
    </div>
    <div id="container">
        <footer align="center">
        <p>
            Copyright &copy; 2014 by Clayton C. Kucera
        </p>
        </footer>
    </div>
</body>