<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica - Solutions</title>
    <link rel="stylesheet" type="text/css" href="mainclayton.css"/>
</head>
<body>

    <!-- setup the navigation bar -->
    <div id="container">
        <nav id="top-menu" align="center">
            <ul>
                <li> <a href="next.ejs">Home</a> </li>
                <li> <a href="work.html">My Work</a> </li>
                <li> <a href="">Contact</a> </li>
            </ul>
        </nav>

        <h1 style="text-shadow:-1px 0 0 rgba(0, 0, 0, 0.5); font-size:100px;" align="center">
        Investica
        </h1>


    </div>
    <div id="container">
        <img id="me" src="images/testpicture.jpg" width="240" height="271"
        alt = "Picture of little Robo Moneybags, our mascot" />
    </div>
    <div id="container">
        <h2>
        Welcome to Investica Solutions!!!!!!!!!!!!!!!!!!!!!!
        </h2>
        <p>
        We live in a country where general adult responsibility manifests later and later, where individuals find it easy to view their early-to-mid twenties as a phase between teenager and full-fledged adult. The cold reality is that personal finance does not fit with this cozy picture, and any young adult in the working world would be well-served to start a plan of retirement investing. 
        </p>
        <p>
        Young college students and recent college grads don't realize this, but it is incredibly useful and important to start investing for retirement early.
        </p>
    </div>
    <div id="container"style="clear:left;">
        <p>
        Early long-term investment will help cement useful financial habits like tucking away a percentage of income for the future and monitoring online accounts. Most important of all is the outrageous power that compound interest has to grow an early investment over the years - the extra five or ten years that money sits in a tax-protected retirement account really counts over the long run, possibly amounting to a difference of hundreds of thousands of dollars in the end. Thus, young adults in the workforce who invest both smartly and early can greatly increase their future financial security and happiness as they transition into retirement. 

        </p>
        <p style="text-align:center">
        Whatever it is you came here for, have a great day.
        </p>
    </div>
    <div id="container">
        <footer align="center">
        <p>
            Copyright &copy; 2014 by Team Investica
        </p>
        </footer>
    </div>
</body>