<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">
</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="images/logo.png" height="100" width="100">
			<h1 id="title"> Investica </h1>
		<div>
		<div id="content">
				<div id="buttonsDiv">
					<a href="#" class="button" >Log In</a>
					</br>
					</br>
					<a href="#" class="button" >Sign Up</a>
				</div>

		</div>
	<div>
</body>