<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">
    <link rel="icon" type="image/png" href="http://localhost:3000/images/logo.png" />

</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="/images/logo.png" height="130" width="130">
			<h1 id="title"> Investica </h1>
		<div>
		
		<div id="content">
			<div id="nav">
			   <ul>
				  <li><a href="/">Home</a></li>
				  <li><a href="lessons" class="active">Lessons</a></li>
				  <li><a href="quizzes">Quizzes</a></li>
				  <li><a href="simulation">Simulation</a></li>
				  <li><a href="guide">Investment Guide</a></li>
			   </ul>
			</div>
            
         <div id="lessonsDiv">
         <ul>
         <div id="active-lesson"><li><a href="lessons">Basic Investment</a></li></div>
         <li><a href="lessons">Compound Interests</a></li>
         <li><a href="lessons">Mutual Funds</a></li>
         <li><a href="lessons">Stocks</a></li>
         <li><a href="lessons">Bonds</a></li>
         <li><a href="lessons">IRAs</a></li>
         <li><a href="lessons">Investment Objectives</a></li>
         <li><a href="lessons">Investment Planning</a></li>
         <li><a href="lessons">Portfolios</a></li>
         </ul>
         </div>  <!--lessonsDiv--> 
         <!--<div id="lessonheader"><h2>Lesson 1</h2></div>-->
         <div id="lessonsContent">
        <p>Investment is the purchase of an asset or item with the hope that it will generate income or appreciate in the future and be sold at the higher price. It generally does not include deposits with a bank or similar institution. The term investment is usually used when referring to a long-term outlook. This is the opposite of trading or speculation, which are short-term practices involving a much higher degree of risk. Financial assets take many forms and can range from the ultra safe low return government bonds to much higher risk higher reward international stocks. A good investment strategy will diversify the portfolio according to the specified needs.
</p><p>
The most famous and successful investor of all time is Warren Buffett. In March 2013 Forbes magazine had Warren Buffett ranked as number 2 in their Forbes 400 list. Buffett has advised in numerous articles and interviews that a good investment strategy is long term and choosing the right assets to invest in requires due diligence. Edward O. Thorp was a very successful hedge fund manager in the 1970s and 1980s that spoke of a similar approach. Another thing they both have in common is a similar approach to managing investment money. No matter how successful the fundamental pick is, without a proper money management strategy, full potential of the asset cannot be reached. Both investors have been shown to use principles from the Kelly criterion for money management. Numerous interactive calculators which use the Kelly criterion can be found on-line. (wikipedia)</p>
         </div><!--lessonscontent-->
         
       
    <!--    <div id="arrow-image" style="width:200px;"> <a href="lesson2"><img src="/images/arrow.jpg"/></a></div>
         </div><!--arrow next-->
		</div>
	<div>
    
     <footer align="center">
        <p>
            Copyright &copy; 2014 by Team Investica
        </p>
    </footer>
</body>