<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">

</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="/images/logo.png" height="130" width="130">
			<h1 id="title"> Investica </h1>
		<div>
		
		<div id="content">
			<div id="nav">
			   <ul>
				  <li><a href="/">Home</a></li>
				  <li><a href="guide">Investment Guide</a></li>
				  <li><a href="lessons">Lessons</a></li>
				  <li><a href="simulation">Simulation</a></li>
				  <li><a href="quizzes" class="active">Quizzes</a></li>
			   </ul>
			</div>
			
			<p id="quizInfo"> Quiz 1: Beginner Basics</p>
		
			<p id="questionNumber"> <p/>
			
			<p id="questionText"></p>
			
			<ul id="answers">
				<li><input type="radio" id="answer1" name="answer"><label id="answer1Text"></label></li>
				<li><input type="radio" id="answer2" name="answer"><label id="answer2Text"></label></li>
				<li><input type="radio" id="answer3" name="answer"><label id="answer3Text"></label></li>
				<li><input type="radio" id="answer4" name="answer"><label id="answer4Text"></label></li>
			</ul>

			
			<img src="/images/arrow455.svg" id="nextButton"  height="40" width="40">
				
	
		</div>
	<div>
	<footer align="center">
        <p>
            Copyright &copy; 2014 by Team Investica
        </p>
    </footer>
	<script src="jquery.js"></script>
	<script src="quiz.js"></script>
</body>