<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">

</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="logo.png" height="130" width="130">
			<h1 id="title"> Investica </h1>
		<div>
		
		<div id="content">
			<div id="nav">
			   <ul>
				  <li><a href="home.html">Home</a></li>
				  <li><a href="lessons.html">Lessons</a></li>
				  <li><a href="quizzes.html" class="active">Quizzes</a></li>
				  <li><a href="highScores.html">High Scores</a></li>
			   </ul>
			</div>
		</div>
	<div>
</body>