<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">

</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="/images/logo.png" height="130" width="130">
			<h1 id="title"> Investica </h1>
		<div>
		
		<div id="content">
			<div id="nav">
			   <ul>
				  <li><a href="/">Home</a></li>
				  <li><a href="lessons">Lessons</a></li>
				  <li><a href="quizzes" class="active">Quizzes</a></li>
				  <li><a href="simulation">Simulation</a></li>
				  <li><a href="guide">Investment Guide</a></li>
			   </ul>
			</div>
			
			<p id="quizInfo"> Take quizzes on the lessons you've completed. Unlock more quizzes by completing more lessons.</p>
		
			<div id="quizSelectList">
				<div class="quiz_item"><img src="/images/check.svg"  height="20" width="20"> Beginner Basics </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> Compound Interests </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> Mutual Funds </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> Stocks </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> Bonds </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> IRAs </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> Investment Objectives </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> Investment Planning </div>
				<div class="quiz_item grayed"><img src="/images/lock.svg"  height="20" width="20"> Investment Planning </div>
			</div>
			
			
			<div id="quizOptions">
				<p id="quizTitle">
					Quiz 1 
				</p>
				<p id="highScores">
					Your High Score: ---
				</p>
				<a href="quiz">
					<div id="takeQuiz" class="btn">
						Start Quiz!
					</div>
				</a>
				
			</div>
		</div>
	<div>
	<footer align="center">
        <p>
            Copyright &copy; 2014 by Team Investica
        </p>
    </footer>
	
	<script src="jquery.js"></script>
	<script>
		var highScore = getUrlParameter('param');
		if(typeof(highScore) != "undefined"){
			$("#highScores").text("Your High Score: " + highScore);
		}
		else{
			$("#highScores").text("Your High Score: ---");
		}
		
		function getUrlParameter(sParam){
			var sPageURL = window.location.search.substring(1);
			var sURLVariables = sPageURL.split('&');
			for (var i = 0; i < sURLVariables.length; i++) 
			{
				var sParameterName = sURLVariables[i].split('=');
				if (sParameterName[0] == sParam) 
				{
					return sParameterName[1];
				}
			}
		}
	</script>
</body>