<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title>Investica</title>
    <link rel="stylesheet" href="investica.css">
    <link rel="icon" type="image/png" href"http://localhost:3000/images/logo.png" />

</head>
<body>
	<div id="main">
		<div id="header">
			<img id="logo" src="/images/logo.png" height="130" width="130">
			<h1 id="title"> Investica </h1>
		<div>
		
		<div id="content">
			<div id="nav">
			   <ul>
				  <li><a href="/">Home</a></li>
				  <li><a href="lessons">Lessons</a></li>
				  <li><a href="quizzes">Quizzes</a></li>
				  <li><a href="simulation" class="active">Simulation</a></li>
				  <li><a href="guide">Investment Guide</a></li>
			   </ul>
			</div>
              <div class="container">
                <div id="chart"></div>
                </br>
                <div id="homeInfo">
					</br>
					<p>
						Want to see what compound interest can do? Try creating a realistic investment scenario for yourself - enter how much you would be willing to invest initially, how much you would be willing to pay monthly, and for how many years you would be willing to sit on your investment. You might be pleasantly surprised with the amount!
					</p>
                    <form id="input"> 
                    Monthly Addition: <input type="text" id="monthly"><br>
                    Initial Deposit: <input type="text" id="init"><br>
                    Years Invested: <input type="text" id="years"><br>
                    <input type="button" value="Update" id="updateButton"/><br>
                    </form>
                </div>
                </br>
              </div>
		</div>
	<div>
    <footer align="center">
        <p>
            Copyright &copy; 2014 by Team Investica
        </p>
    </footer>
    <script src="d3.min.js"></script>
    <script src="chartscript.js"></script>
</body>