/* investica.css by Clayton Kucera
  v 1.2 - 2014
*/

/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Clayton's Investica Palette

    darkgreen   :   #6E8531     //for header text and titles
    lightgreen  :   #A0E142
    pastelgold  :   #E9DA6F
    lightgreen  :   #95E56F
    tan         :   #FDEDB1
    lightgreen  :   #EEFFD3     //for the background

 Other random colors
 
  darkgreen      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  cyan           : #259286;
  green          : #738A05; */

/* setup body */
body, p {
    line-height: 1;
    font-family: Georgia, serif;
    font-size: 16pt;
    margin:0 100px;
  background: #EEFFD3;
    color: #475B62;
  }

/* reasonable starting margins */
p, h1, h2, h3, h4, h5, h6, ol, ul, li { margin: 12pt; }
li { margin-left: 5em;}

/* setup headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #6E8531;
  font-size: 1.75em;
  margin-bottom: .4em;
    color: 6E8531;
}

h1 {
	margin:90px 0;
	line-height:1;
	font-size:100px;
	color:#000;


	text-shadow:-2px 0 0 rgba(0, 0, 0, 0.5);
	letter-spacing:-3px; 
    position:relative;}
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

/* setup pre */
pre { font-family: consolas, monospace; }

/*setup the navigation items*/

nav#top-menu {
    width: 300px;
    height: 33px;

    margin: 0 auto;
    padding: 0;

}
#top-menu ul {
    display: block;
    list-style-type: none;
    width: 300px;
    margin: 0; 
    padding: 0;

}
#top-menu ul li {
    margin: 0;
    padding: 0;

}
#top-menu ul li a {
    display: block;
    float: left;
    max-height: 25px;
    width: 100px;
    margin: 0;
    padding: 5px 0;
    font-family: tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    border-bottom: #000000 solid 2px;
}
#top-menu ul li a:hover { border-bottom: #FEFCFF solid 2px; }
#container {
	max-width:900px;
	margin:0 auto;
}
#me {
	float:left;
	border:2px solid rgba(0, 0, 0, 0.3);
	border-radius:2px;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
	margin:-2px 30px 25px 0;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th {
    font-weight:bold;
}
footer p {
    font-size: 70%;
    font-family: tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

